<section class="intro">
  <div class="bg-image h-100" style="
      background-image: url(https://mdbootstrap.com/img/Photos/new-templates/search-box/img7.jpg);
    ">
    <div class="mask d-flex align-items-center h-100" style="background-color: rgba(0,0,0,.5);">
      <div>
        <br>
        <br>
        <br>
      </div>
    </div>
    <div class="mask d-flex align-items-center h-100" style="background-color: rgba(0,0,0,.5);">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-11 col-xl-9 mx-auto">
            <div class="card gradient-custom">
              <div class="card-body p-4">
                <h2 class="text-white font-weight-bold">Find your next stay</h2>
                <p class="text-white  mt-3 mb-4 pb-2">Search low prices on hotels, homes and much more...</p>
<!--                <div class="row">-->
<!--                  <div class="col-12 d-flex justify-content-left">-->
<!--                    <div class="card text-white text-center me-3 mb-4" style="background-color: #002d72;">-->
<!--                      <div class="card-body">-->
<!--                        <i class="fas fa-bed fa-lg mb-3"></i>-->
<!--                        <p class="text-uppercase mb-0">hotel only</p>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->

                <div class="row">
                  <div class="col-12 mb-4">
                    <div class="card">
                      <div class="card-body p-3 d-flex justify-content-left">
                        <i class="fas fa-search fa-lg text-black d-flex align-self-center me-2"></i>
                        <div id="basic" class="form-outline flex-fill">
                          <input type="text" id="form1" class="form-control form-control-l"
                                 placeholder="Destination, hotel name" />
                        </div>
                      </div>
                    </div>
                    <div class="card-body p-2 d-flex justify-content-left">
                      <label class="text form-label" for="form1">Where are you going to?</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-4 mb-4">
                    <div class="card">
                      <div class="card-body p-2 d-flex justify-content-left">
                        <i class="far fa-calendar fa-lg text-black d-flex align-self-center me-2"></i>
                        <div class="form-outline datepicker flex-fill" data-mdb-toggle-button="false">
                          <input
                            type="date"
                            name="date"
                            id="exampleDatepicker1"
                            class="form-control text-secondary"
                            [(ngModel)]="dateRangeForm.checkin"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="card-body p-2 d-flex justify-content-left">
                      <label for="exampleDatepicker1" class="text-body form-label">Check-in</label>
                    </div>
                  </div>
                  <div class="col-4 mb-4">
                    <div class="card">
                      <div class="card-body p-2 d-flex justify-content-left">
                        <i class="fas fa-calendar fa-lg text-black d-flex align-self-center me-2"></i>
                        <div class="form-outline datepicker flex-fill" data-mdb-toggle-button="false">
                          <input
                            type="date"
                            name="date"
                            id="exampleDatepicker2"
                            class="form-control text-secondary"
                            [(ngModel)]="dateRangeForm.checkout"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="card-body p-2 d-flex justify-content-left">
                      <label for="exampleDatepicker1" class="text-body form-label">Check-out</label>
                    </div>
                  </div>
                  <div class="col-4 mb-4">
                    <div class="card">
                      <div class="card-body p-2 d-flex justify-content-left">
                        <i class="fas fa-user-friends fa-lg text-black d-flex align-self-center me-2"></i>
                        <div id="location" class="form-outline flex-fill">
                          <input type="text" id="form2" class="form-control" placeholder="2 adults"/>
                        </div>
                      </div>
                    </div>
                    <div class="card-body p-2 d-flex justify-content-left">
                      <label class="text-body form-label" for="form2">Number of guests</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <button type="button" class="btn btn-warning btn-lg" (click)="search_bookings()">Search</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mask d-flex align-items-center h-100" style="background-color: rgba(0,0,0,.5);">
      <div>
        <br>
        <br>
        <br>
        <br>
      </div>
    </div>
  </div>
</section>
